@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway);

*{
  font-family: 'Open Sans', sans-serif;
}

body{
  background-image: url('http://d13pix9kaak6wt.cloudfront.net/background/jonesmichael_1349868867_07.jpg');
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}
h1{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
nav li{
  display: inline-block;
  padding: 10px;
}
ul{
  text-align:center;
}
h2{
  margin-left: 200px;
  font-family: 'Raleway', sans-serif;
}
